@charset "UTF-8";
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

body {
  font-family: 'Gotham A', 'Gotham B', Helvetica, Arial;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  background-color: #e0e0e0;
}

.none {
  display: none;
}

.clear {
  display: block;
  clear: both;
}

.wrap {
  margin:0 auto;
  width:100%;
  max-width:1200px;
  position: relative;
}

.padded-wrap {
  padding:30px;
}

#slider-wrap {
  background-color: #231f20;
  float: left;
  position: relative;

  img {
    width:100%;
    height:auto;
    float: left;
  }
}

#slider-nav {
  width:100%;
  height:50px;
  position: absolute;
  top:50%;
  left:0;
  margin-top:-25px;
  z-index: 800;

  span {
    display: block;
    width:40px;
    height:100%;
    position: absolute;
    @include transition(background-color $default-speed $default-transition);
    @include retina-image('../images/next-prev', 80px 50px, 'png');
  }

  span:hover {
    cursor: pointer;
    background-color: #231f20;
  }

  #slider-prev {
    left:0;
  }

  #slider-next {
    right:0;
    background-position: -40px 0;
  }

  @include media($mid-mobile) {
    width:160px;
    height:100px;
    top:auto;
    bottom:0;
    margin-top:0;

    span {
      width:80px;
      position: relative;
      float:left;
      @include retina-image('../images/next-prev', 160px 100px, 'png');
    }

    #slider-next {
      background-position: -80px 0;
    }
  }
}

.section {
  clear: both;
  float: left;
  position: relative;

  .num {
    display: block;
    font-size:50px;
    font-weight: 100;
  }

  .num, h2, h3, p {
    padding-bottom:30px;
  }

  h2, h3 {
    text-transform: uppercase;
  }

  h2 {
    font-size:30px;
  }

  h3 {
    font-size:18px;
  }

  p {
    font-size:14px;
    line-height: 17px;
  }

  .bottom-padd {
    padding-bottom: 60px;
  }
}

.padded-column {
  padding:40px 30px;
}

.text-column {
  @include media($tablet) {
    width:30%;
    float: left;
  }
}

.image-column {
  position: relative;
  overflow: hidden;
  background:url(../images/corporate-profile.jpg) 0 0 no-repeat;
  background-size:cover;
  width:100%;
  height:auto;

  img {
    width:100%;
    height:100%;
  }

  .image-overlay {
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 50;
    background:url(../images/image-overlay.png);
  }

  @include media($tablet) {
    width:70%;
    height:100%;
    position: absolute;
    top:0;
    right:0;

    img {
      position: absolute;
      z-index: 20;
    }
  }
}

.column-2 {

  img {
    width:100%;
    height:auto;
    padding-bottom:30px;
  }

  @include media($tablet) {
    @include span-columns(5 of 12);

    img {
      margin-bottom:30px;
    }
  }
}

.column-2.last {
  @include media($tablet) {
    @include shift(1);
  }
}

#corporate-profile {
  background-color: #231f20;
  color:#fff;
}

#senior-management-team {
  background-color: #cbdfe0;
  color:#231f20;
}

#contact {
  background-color: #fff;
}

#contact-form {
  margin-bottom:60px;

  input[type="text"], select, textarea {
    width:100%;
    padding:2%;
    margin:10px 0 30px 0;
    border:2px solid #000;
  }

  label, input, textarea {
    display: block;
    clear: both;
  }

  label, input[type="submit"] {
    text-transform: uppercase;
    font-weight: bold;
  }

  label {
    font-size:18px;
  }

  input[type="submit"] {
    width:100%;
    padding: 14px 50px 16px 50px;
    border:none;
    background-color: #000;
    color:#fff;
    @include transition(all $default-speed $default-transition);

    @include media($mid-mobile) {
      width:auto;
    }
  }

  input[type="submit"]:hover {
    background-color: #cbdfe0;
    color:#000;
  }

}

.contact-info-row {
  @include row();
  margin-bottom:30px;
  font-size: 14px;
}

.contact-label {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom:10px;

  @include media($mid-mobile) {
    font-size:18px;
    padding-bottom: 0;
  }
}

.contact-column {
  @include media($mid-mobile) {
    @include span-columns(6 of 12);
  }
}

#confirm {
  h2 {
    font-style: italic;
  }
}

#footer {
  display: block;
  clear: both;
  background-color: #231f20;
  color:#fff;
  padding:30px 0;
}

#social-icons {
  margin-left:30px;

  li {
    width:30px;
    height:30px;
    display: inline-block;
    float: left;
    margin-right:40px;

    a {
      display: block;
      width:100%;
      height:100%;
      @include transition(opacity $default-speed $default-transition);
      @include opacity(1);
      @include retina-image('../images/social-icons', 90px 30px, 'png');
    }

    a:hover {
      @include opacity(.5);
    }
  }

  @include media($tablet) {
    position: absolute;
    top:-5px;
    right:30px;

    li {
      margin:0 0 0 40px;
    }
  }
}

#s-in a {
  background-position: -30px 0;
}

#s-li a {
  background-position: -60px 0;
}

#copyright {
  line-height: 17px;
  padding:30px 30px 0 30px;
  clear: both;

  @include media($tablet) {
    clear:none;
    padding:0 0 0 30px;
  }
}

.browserupgrade {
  width:100%;
  padding:20px 0;
  background-color: red;
  color:#fff;
  text-align: center;

  a {
    color:#fff;
    font-weight: bold;
  }
}