@import 'neat/neat-helpers';

// Change the grid settings
$column: 50px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1200);

// Define your breakpoints
$mid-mobile: new-breakpoint(min-width 480px);
$modal: new-breakpoint(min-width 600px);
$tablet: new-breakpoint(min-width 810px);
$desktop: new-breakpoint(min-width 1200px);