#header {
	background-color: #fff;
	padding:20px 15px;

	@include media($tablet) {
		padding:30px;
	}
}

#logo {
	display: block;
	width:167px;
	height:40px;
	@include retina-image('../images/cci-logo', 167px 40px, 'jpg');

	a {
		display: block;
		height:100%;
		width:100%;
	}

	span {
		display: none;
	}

	@include media($tablet) {
		width:250px;
		height:60px;
		@include retina-image('../images/cci-logo-large', 250px 60px, 'jpg');
	}
}

#menu-toggle {
	display: block;
	position: absolute;
	top:28px;
	right:15px;
	width:25px;
	height:25px;
	@include retina-image('../images/menu-toggle', 25px 50px, 'png');

	@include media($tablet) {
		display: none;
	}
}

#menu-toggle:hover {
	cursor: pointer;
}

#nav {
	display: none;
	width:100%;
	position: absolute;
	top:5px;
	right:0;
	z-index: 100;
	list-style: none;
	text-transform: uppercase;
	text-align: right;
	font-size: 18px;

	li {
		display: block;
		padding:30px 15px;
		font-weight: 800;

		span {
			display: block;
			clear: both;
			font-weight: 100;
			font-size: 30px;
		}
	}

	a {
		color: #000;
		text-decoration: none;
	}

	@include media($tablet) {
		display: block;
		float: right;
		width:auto;
		font-size: 12px;
		top:5px !important;
		background-color: transparent !important;

		li {
			display: inline-block;
			float: left;
			margin-left:30px;
			padding:30px 30px 30px 0;

			span {
				font-size: 20px;
			}
		}
	}

	@include media($desktop) {
		font-size: 18px;

		li {
			padding:30px;

			span {
				font-size: 30px;
			}
		}
	}
}

.menu-open {
	#menu-toggle {
		background-position: 0 25px;
	}

	#nav {
		display: block;
		top:80px;
		background-color: #fff;
	}
}